<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>HomePage</title>
    <style>
      h1 {
          margin-left: 200px;
      }

    </style>
  </head>

  <body>
    <h1>HomePage </h1>
    <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top">
        <a href="cache"> Get Cache Value</a>
        <a href="allcache"> All Cache Values </a>
        <a href="newcache"> Add New Cache </a>
      </nav>
    </div>
    <br><br><br><br><br><br>
  </body>
</html>
